@import '_animation';

$boom-width:81px;
$boom-steps:9;
$boom-time:1s;

.anim-boom {
    width: $boom-width;
    height: 65px;
    display: block;
    background-image: url(../img/boom.png);
    @include animation (boom $boom-time steps($boom-steps) infinite forwards);
}

$stars-time:1800s;
$stars-time:210s;
$stars-width:956px;
$stars-height:1008px;

.anim-stars {
    /*background-image: url(../img/star1.png),url(../img/star2.png),url(../img/star3.png),url(../img/star4.png);*/
    background-image: url(../img/star1.png),url(../img/star2.png);
    background-position: 0% 0%, 0% 0%;
    background-repeat: repeat,repeat;
    background-color:#17192E;
    @include animation (stars $stars-time infinite linear);
}

$cow-time:2s;
$ufo-width:446px;
$cow-width:28px;
$cow-height:35px;
$ufo-height:313px;
$ray-height:144px;

.anim-ufo-steals-cow {
    width:$ufo-width;
    height:$ufo-height;
    margin:0 auto;
    position:relative;
    display:block;
    background:url(../img/UFO.png) 50% 50% transparent no-repeat;
}

.anim-ufo-steals-cow:before {
    content:'';
    position:absolute;
    left:($ufo-width - $cow-width)/2;
    right:($ufo-width - $cow-width)/2;
    bottom:0;
    display:block;
    width:$cow-width;
    height:$ray-height;
    background-image:url(../img/cow.png);
    background-color:transparent;
    background-position:50% ($ray-height - $cow-height);
    background-repeat:no-repeat;
    overflow:hidden;
    @include animation (cow $cow-time infinite linear);
}

@include keyframes(boom){
    from { background-position:0px 50%; }
    to { background-position:-($boom-width)*($boom-steps) 50%; }
}

@include keyframes(cow){
    0% { background-position: 50% ($ray-height - $cow-height); }
    70%,100% { background-position: 50% (-$cow-height); }
}

@include keyframes(stars){
    0% {
        background-position:0px 0px, 0px 0px;
    }
    10% {
        background-position:0.1*$stars-width 0.1*$stars-height, 0.1*$stars-width 0.1*$stars-height;
    }
    20% {
        background-position:0.2*$stars-width 0*$stars-height, 0.25*$stars-width 0.1*$stars-height;
    }
    30% {
        background-position:0.1*$stars-width 0.3*$stars-height, 0.15*$stars-width 0.2*$stars-height;
    }
    40% {
        background-position:0.1*$stars-width 0.5*$stars-height, 0.2*$stars-width 0.3*$stars-height;
    }
    50% {
        background-position:0.2*$stars-width 0.65*$stars-height, 0.3*$stars-width 0.4*$stars-height;
    }
    60% {
        background-position:0.3*$stars-width 0.6*$stars-height, 0.3*$stars-width 0.6*$stars-height;
    }
    70% {
        background-position:0.5*$stars-width 0.6*$stars-height, 0.4*$stars-width 0.7*$stars-height;
    }
    80% {
        background-position:0.7*$stars-width 0.8*$stars-height, 0.6*$stars-width 0.8*$stars-height;
    }
    90% {
        background-position:0.9*$stars-width 0.9*$stars-height, 0.8*$stars-width 0.9*$stars-height;
    }
    100% {
        background-position:$stars-width $stars-height, $stars-width $stars-height;
    }
}