$cell-side:32px;

.board {
    position: relative;
    border: 1px solid red;
    margin: 30px;
}

.ship {
    display:block;
    position: absolute;
    background-position: 50% 50%;
    background-size: 100%;
}

.ship-size-2 {
    width:$cell-side*2+1px;
    height:$cell-side*2+1px;
}

.ship-size-3 {
    width:$cell-side*3+2px;
    height:$cell-side*3+2px;
}

.ship-falcon {
    &.ship-red {
        background-image:url(../img/Falcon_red.png);
    }
    &.ship-blue {
        background-image:url(../img/Falcon_blue.png);
    }
}

.ship-python {
    &.ship-red {
        background-image:url(../img/Python_red.png);
    }
    &.ship-blue {
        background-image:url(../img/Python_blue.png);
    }
}

.ship-hunter {
    &.ship-red {
        background-image:url(../img/Hunter_red.png);
    }
    &.ship-blue {
        background-image:url(../img/Hunter_blue.png);
    }
}